* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
//font-family: 'Poppins', sans-serif;


//AJUSTES GENERALES
body {
    width: 100vw;
    height: 100vh;
}

   
a {
    text-decoration: none;
  }

  a:link, a:visited, a:active
{
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
   
ul {
    list-style-type: none;
  }

  .a-main {
    color: #fff;
    text-decoration: none;
  }

  .background-index {
    background: #b78cf7;
    background: linear-gradient(155deg, rgba(183, 140, 247) 50%, rgb(255, 255, 255) 50%);
    width: 100%;
    min-height: 100%;
  }