$color-base: #a878f0;
$color: #e24040;

%poppins {
    font-family: 'Poppins', sans-serif;
}


//POSICIONAMIENTO
%flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}