@import "../base/variables";

header {
    background-color: $color-base;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-header {
        width:3.5%;
    }

    .user-header {
        width: 2%;
    }
}