a:link,
a:visited,
a:active {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}
.main-index .card-nav .card a {
    color: #000000;
}

.main-index .card-nav .card a:hover {
    color: #fff;
}


.main-index {
    margin: 0 22.5rem 0 22.5rem;

    .card-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3.5rem;
    }

    .card {
        /* Add shadows to create the "card" effect */
        transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        background-color: $color-base;
        color: #fff;
    }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }

    .banner-search {
        padding-top: 3rem;
        margin-bottom: 3rem;
    }
}

.opciones-index {
    background-color: $color-base;
    width: 100%;
    padding: 2em 0 2em 0;
    margin-top: 4rem;

    .h2-index {
        color: #fff;
        @extend %flexbox-center;
    }

    .clubs-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 4em;


        .clubs-position {
            img {
                width: 40%;
                margin: 0 0 0 5rem;
                padding-bottom: 0.7em;
            }
            p {
                color: #fff;
                @extend %poppins;
                font-size: 1.2em;
                text-align: center;

            }
        }
        
    }
}


.info {
    margin: 0 22.5rem 0 22.5rem;
    @extend %flexbox-center;
    flex-direction: column;

    img {
        width: 40%;
    }

    h2 {
        padding-top: 2em;
    }

    p {
        padding-bottom: 2em;
        font-size: 1.5em;
        text-align: justify
    }

}

.hr-main {
    height: 2px;
    margin: 0 22.5rem 0 22.5rem;
    background-color: $color-base;
}